# Flutter & Dart
.dart_tool/
build/
.pub/
.packages

# Flutter SDK artifact
flutter/
flutter.tar.xz
.flutter-plugins
.env
!web/assets/.env
.flutter-plugins-dependencies
pubspec.lock
third_party/pub_cache/
