# cSpell:ignore firestore riverpod mocktail filepicker
name: appoint
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=3.3.0 <4.0.0"
  flutter: ">=3.19.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: ^0.20.2
  firebase_core: ^2.21.1
  cloud_firestore: ^4.6.1
  firebase_auth: ^4.6.1
  firebase_messaging: ^14.7.10
  cloud_functions: ^4.7.5
  firebase_analytics: ^10.4.0
  firebase_storage: ^11.5.1
  firebase_crashlytics: ^3.5.7
  firebase_remote_config: ^4.3.3
  firebase_app_check: ^0.2.1+8
  flutter_stripe: ^11.5.0
  flutter_riverpod: 2.6.1
  freezed_annotation: ^2.4.4
  json_annotation: ^4.9.0
  equatable: ^2.0.5
  flutter_bloc: ^8.1.4
  google_mobile_ads: ^4.0.0
  http: ^1.1.0
  url_launcher: ^6.2.4
  googleapis: ^12.0.0
  googleapis_auth: ^1.4.1
  flutter_web_auth_2: ^2.0.4
  flutter_secure_storage: ^9.0.0
  uni_links: ^0.5.1
  share_plus: ^7.2.1
  file_picker: ^6.1.1
  image_picker: ^1.0.7
  google_maps_flutter: 2.6.1
  geolocator: 12.0.0
  flutter_dotenv: ^5.1.0
  mailer: ^6.0.1
  fl_chart: 0.71.0
  go_router: ^13.2.0
  shadcn_ui: 0.15.2
  tailwind_colors: ^0.3.1
  syncfusion_flutter_charts: 28.2.6

dev_dependencies:
  flutter_test:
    sdk: flutter
  build_runner: ^2.4.7
  freezed: ^2.5.2
  json_serializable: ^6.7.1
  fake_cloud_firestore: ^2.4.0
  firebase_auth_mocks: ^0.13.0
  mockito: ^5.4.2
  test: ^1.24.9

flutter:
  uses-material-design: true
  generate: true

  assets:
    - web/assets/FontManifest.json

  plugin:
    platforms:
      android:
        package: com.mr.flutter.plugin.filepicker
        pluginClass: FilePickerPlugin
      ios:
        pluginClass: FilePickerPlugin

dependency_overrides:
  intl: ^0.20.2
  fl_chart:
    path: packages/fl_chart_stub
