apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: api-availability-slo
  namespace: ${namespace}
spec:
  groups:
  - name: api-availability
    rules:
    - alert: ApiAvailabilitySLO
      expr: (sum_over_time(up{job="appoint-api"}[5m]) / 5) * 100 < ${api_uptime_target}
      for: 5m
      labels:
        severity: critical
      annotations:
        summary: "API availability below ${api_uptime_target}% over 5m"
        description: "API availability has been under ${api_uptime_target}% for the last 5 minutes."
