WARNING_CFLAGS = -Wall -Wconditional-uninitialized REDACTED_TOKEN -Wmissing-method-return-type -Woverlength-strings
GCC_WARN_UNDECLARED_SELECTOR = YES
REDACTED_TOKEN = YES
REDACTED_TOKEN = YES_AGGRESSIVE
REDACTED_TOKEN = YES
CLANG_WARN_PRAGMA_PACK = YES
CLANG_WARN_STRICT_PROTOTYPES = YES
CLANG_WARN_COMMA = YES
GCC_WARN_STRICT_SELECTOR_MATCH = YES
REDACTED_TOKEN = YES
REDACTED_TOKEN = YES
GCC_WARN_SHADOW = YES
CLANG_WARN_UNREACHABLE_CODE = YES
