name: Flutter CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
    analyze_and_test:
      name: Analyze & Test
      runs-on: ubuntu-latest
      env:
        PUB_HOSTED_URL: https://pub.dev
        FLUTTER_STORAGE_BASE_URL: https://storage.googleapis.com
      steps:
      - uses: actions/checkout@v3
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.7.0'

      - run: flutter pub get
      - run: tool/codegen.sh
      - run: flutter analyze
      - run: flutter test --coverage
      - uses: codecov/codecov-action@v3
        with:
          files: coverage/lcov.info
          fail_ci_if_error: true
